.manu{
    background-color: #f2ede1;
}


.nav-link:hover {

      color:#b59a5c !important;
}
.nav-link .manu_button {

      background-color:#b59a5c !important;
}
 .slider{
    width:100%;
    height:600px;
    float: left;
  background-image:url(https://bergenharbourhotel.no/wp-content/uploads/2024/01/superior-king.jpg);
    background-size:cover;
}
.blur_slider{
    height: 600px;
    width:100%;
    float: left;
    background-color:hsla(50,90% ,88% ,.1.5);
}
.btn_b1{
    background-color: #b59a5c !important;
}
.btn_b2{
    background-color:#d6cebb !important;
}
.text_c{
    color: #b59a5c;
}

.why_choose{
    width: 100%;
    height:auto;
    float: left;
    background-color: #f2ede1;
}
.card{
    height: 500px;
}

.black_images{
    width:100%;
    height:auto;
    float: left;
    background-color:black;
}
.background_image2{
    width:100%;
    height:auto;
    float: left;
    background-image:url(https://bergenharbourhotel.no/wp-content/uploads/2024/01/jen-p-_7FriM3D0iw-unsplash-scaled.jpg);
    background-size: cover;
}
.what_1{
    color: #d0c5ab;
}
.class_w{
    background-color: #f2ede1 !important;
}

.white_box{
    width:100%;
    height:auto;
    float: left;
    background-color: #ffffff;
}
.margin{
    margin-left:100px;
    margin-top:-60px;
    box-sizing: border-box;
    font-size:30px;
}
.icon_2{
    font-size:40px;
 
}
.p_tag{
    margin-left:100px;
    margin-top:;
    box-sizing: border-box; 

}.margin2{
    margin-left:100px;
    margin-top:-60px;
    font-size:30px;
    box-sizing: border-box;
}
.icon_3{
    margin-top:60px;
     font-size:40px;
}
.margin3{
    margin-left:100px;
    margin-top:-40px;
    font-size:30px;
    box-sizing: border-box; 
}
.Spendnight{

    width:100%;
    height:auto;
    float: left;
    background-color: #f2ede1;
}
.heart{
    color: #b59a5c;
} 

.footer{
    background-color:#f2ede1 ;
   width:100%;
   height: auto;
   float: left;
}
.footer-shape{
    width:100%;
    height:;
}
.clor{
    color:#f2ede1;
    margin-top:250px;
    margin-left:20px;
    font-size:50px;
}
.clor1{
    color:#f2ede1;
    margin-top:250px;
    margin-left:-140px;
    font-size:50px;
}